* {
  font-style: normal;
}

.octodex{
  overflow: hidden;
  list-style: none;
  margin: 0 auto;
}

li.octocat  {
  float: left;
  margin: 15px;
}

li.octocat img {
  width: 350px;
  height: auto;
  border: 2px solid #DFDFDF;

}

li.octocat a {
  text-decoration: none;
  font-weight: bold;
}

footer {
  position: relative;
  height: 35px;
  overflow: hidden;
  border-bottom: 2px solid #DFDFDF;
  padding-top: 5px;
}


.octonumber {
  float: left;
  color: #DFDFDF;
  margin: 0;
}

.octonumber:before {
  content: '#';

}

cite {
  float: right;
  overflow: hidden;
  color: #000;
}

cite a {
  font-weight: bold;
  line-height: 25px;
}

.authors {
  float: right;
  list-style: none;
}

.authors li {
  float: left;
}

.authors li img {
  width: 25px;
  height: auto;
  border: 0;
}
